.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}


@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

/* Divider Style */
.divider--light,
.divider--dark {
  width: 250px;
  border-top: solid 5px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

.divider--light {
  border-color: #fff;
}

.divider--dark {
  border-color: #2c3e50;
}

/* general */

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'main'
    'desc'
    'footer'
  ;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 1rem;
}

.layout-header {
  grid-area: header;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

.layout-main {
  grid-area: main;
}

.layout-descriptions {
  grid-area: desc;
}

.layout-footer {
  grid-area: footer;
  padding: 0;
  height: auto;
  line-height: 1.6;
}