
.container {
  width: 100%;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}


@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

/* Divider Style */
.divider--light,
.divider--dark {
  width: 250px;
  border-top: solid 5px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

.divider--light {
  border-color: #fff;
}

.divider--dark {
  border-color: #2c3e50;
}

/* general */

.main-layout {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-areas:
    'header'
    'main'
    'desc'
    'footer'
  ;
  grid-template-rows: auto 1fr auto ;
}

.layout__header {
  grid-area: header;
}

.layout__main {
  grid-area: main;
}

.layout__descriptions {
  grid-area: desc;
}

.layout__footer {
  grid-area: footer;
}